@model RaidScheduler.Models.PlayerPreferencesModel

<div class="panel panel-default">
    <div class="panel-body">
        <input data-bind="value: FirstName" placeholder="First Name" />
        <input data-bind="value: LastName" placeholder="Last Name" />
        <select data-bind="options: TimeZoneList, value: SelectedTimeZone, optionsCaption: 'Choose a timezone'"></select>
        @*<input data-bind="kendoDropDownList: { data: TimeZoneList, value: SelectedTimeZone }" />*@
    </div>

    <div class="panel-body">
        <button data-bind="click: AddNewPotentialJob">Add Potential Job</button>
        <div data-bind="template: { name: 'PotentialJob-Template', foreach: PlayerPotentialJobs }"></div>        
    </div>

    <div class="panel-body">
        <button data-bind="click: AddDayAndTimeAvailable">Add Day And Time Available</button>
        <div data-bind="template: { name: 'DayAndTimeAvailable-Template', foreach: DaysAndTimesAvailable }"></div>
    </div>

    <div class="panel-body">
        @*<select data-bind="options:$root.RaidsAvailable, optionsValue: 'RaidID', optionsText: 'RaidName', selectedOptions: RaidsRequested" size="5" multiple="multiple"></select>*@
        <input data-bind="kendoMultiSelect: {data: $root.RaidsAvailable, value:$root.RaidsRequested}" />
    </div>

    <div class="panel-body">
        <button data-bind="click: SavePlayer">Save</button>
        <span id="saveSuccess" class="alert" style="display:none"></span>
    </div>
</div>

<script type="text/html" id="PotentialJob-Template">
    <div>
        <select data-bind="options: $root.PotentialJobsToChoose, optionsText: 'JobName', optionsValue: 'JobID', value: PotentialJobID"></select>
        @*<input data-bind="kendoDropDownList: { dataTextField: 'JobName', dataValueField: 'JobID', data: $root.PotentialJobsToChoose, value: $data.PotentialJobID }" />*@
        <input type="text" placeholder="ILvl" data-bind="value: ILvl" />
        <label>ComfortLevel: </label>
        <input data-bind="kendoSlider: ComfortLevel, min:1, max: 10" placeholder="ComfortLevel" />
        <span class="glyphicon glyphicon-remove" data-bind="click: $root.RemovePotentialJob"></span>
    </div>
</script>

<script type="text/html" id="DayAndTimeAvailable-Template">
    <div>
        @*<select data-bind="options: $root.DaysToChoose, value: Day" />*@
        <input data-bind="kendoDropDownList: { data: $root.DaysToChoose, value: Day }" />
        <label>Time Availability Start
            <input data-bind="kendoTimePicker: TimeAvailableStart" />
        </label>
        <label>Time Availability End
            <input data-bind="kendoTimePicker: TimeAvailableEnd" />
        </label>
        <input type="text" placeholder="Duration (Minutes)" data-bind="value: TimeDurationLimit" />
        <label for="IsTentative">Tentative</label>
        <input id="IsTentative" type="checkbox" data-bind="checked: IsTentative" />
        <span class="glyphicon glyphicon-remove" data-bind="click: $root.RemoveDayAndTimeAvailable"></span>
</div>
</script>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/RaidSchdulerScripts/PlayerEdit.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            ko.validation.init({
                insertMessages: false,
                decorateElement: true,
                errorElementClass: 'input-validation-error',
                grouping: {deep: true, live: true}
            });

            var jsonModel = @Html.Raw(Json.Encode(@Model))
            viewModel = new PlayerEdit(jsonModel);
            ko.applyBindings(viewModel);
        });

    </script>
}
