@model RaidScheduler.Models.PlayerChoiceModel
<div>
    @Html.ActionLink("Create New Player", "PlayerEdit", "Home")
    <br />
    @if(!@Model.PlayerModels.Any())
    {
        @:No Players to choose. Please Create a player.
    }
    else
    {
        <ol>
            @foreach(var player in Model.PlayerModels )
            {
            <li>
                @Html.ActionLink(player.PlayerFirstName + " " + player.PlayerLastName, "PlayerEdit", "Home", new { ID = player.PlayerID }, null)
            </li>
            }
        </ol>
    }
</div>
