@model RaidScheduler.Models.JobPercentageModel

<div>
    <div id="piechart"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        (function () {
            
            google.load("visualization", "1", { packages: ["corechart"], "callback": function () { } });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable(
                  @Html.Raw(Json.Encode(Model.JobAndCountModel))
                );

                var options = {
                    title: 'Job Percentage'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        })();
    });
</script>