<style type="text/css">
    .bs-example {
        font-family: sans-serif;
        position: relative;
        margin: 100px;
    }

    .typeahead, .tt-query, .tt-hint {
        border: 2px solid #CCCCCC;
        border-radius: 8px;
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 396px;
    }

    .typeahead {
        background-color: #FFFFFF;
    }

    .typeahead:focus {
        border: 2px solid #0097CF;
    }

    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }

    .tt-hint {
        color: #999999;
    }

    .tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }

    .tt-suggestion {
        font-size: 24px;
        line-height: 24px;
        padding: 3px 20px;
    }

    .tt-suggestion.tt-is-under-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }

    #autoComplete{
        margin: 10px;
    }
</style>
<input id="autoComplete" type="text" spellcheck="false"/>
<div id="playerContainer" >
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Player</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th>Paladin</th>
                <th>Warrior</th>
                <th>White Mage</th>
                <th>Scholar</th>
                <th>Black Mage</th>
                <th>Summoner</th>
                <th>Dragoon</th>
                <th>Monk</th>
                <th>Bard</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'player-template', foreach: Players }">

        </tbody>
    </table>
</div>

<script type="text/html" id="player-template">
    <tr>
        <td><span data-bind="text: DisplayName"></span></td>
        <!-- ko foreach: AvailableTimes -->
        <td>
            <div data-bind="foreach: TimesAvailable">
                <ul>
                    <li>
                        <span data-bind="text: StartTime"></span>&nbsp;-&nbsp;
                        <span data-bind="text: EndTime"></span>
                    </li>
                </ul>
            </div>
        </td>
        <!-- /ko -->

        <!-- ko foreach: Jobs-->
        <td>
            <span data-bind="text: $data == null? '': Ilvl"></span>
        </td>
        <!-- /ko -->
    </tr>
</script>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/RaidSchedulerScripts/Createparty.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            viewModel = new CreateParty();
            ko.applyBindings(viewModel);
        });

    </script>
}