@model RaidScheduler.WebUI.Models.CreatePartyModel


<link href="~/css/RaidSchedulerStyles/CreateParty.css" rel="stylesheet" />

<div class="col-sm-12">
    <div class="col-sm-2 form-group">
        <label for="serverSelection" class="control-label">Select Server</label>
        <select id="serverSelection" class="form-control">
            @foreach (var server in Model.AvailableServers)
            {
                <option value="@server">@server</option>
            }
        </select>
    </div>    
    <div class="col-sm-2 form-group">
        <label for="autoComplete" class="control-label">Search Player</label>
        <input id="autoComplete" type="text" class="form-control" spellcheck="false" />
    </div>
</div>

<br />
<br />
<br />

<div class="col-sm-12" id="playerContainer" >
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Player</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th>Paladin</th>
                <th>Warrior</th>
                <th>White Mage</th>
                <th>Scholar</th>
                <th>Black Mage</th>
                <th>Summoner</th>
                <th>Dragoon</th>
                <th>Monk</th>
                <th>Bard</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'player-template', foreach: Players }">

        </tbody>
    </table>
</div>

<script type="text/html" id="player-template">
    <tr>
        <td><span data-bind="text: DisplayName"></span></td>
        <!-- ko foreach: AvailableTimes -->
        <td>
            <div data-bind="foreach: TimesAvailable">
                <ul>
                    <li>
                        <span data-bind="text: StartTime"></span>&nbsp;-&nbsp;
                        <span data-bind="text: EndTime"></span>
                    </li>
                </ul>
            </div>
        </td>
        <!-- /ko -->

        <!-- ko foreach: Jobs-->
        <td>
            <span data-bind="text: $data == null? '': Ilvl"></span>
        </td>
        <!-- /ko -->
    </tr>
</script>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/RaidSchedulerScripts/Createparty.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            viewModel = new CreateParty();
            ko.applyBindings(viewModel);
        });

    </script>
}